@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

body {
  font-family: Oxygen, sans-serif;
  background: rgb(27, 26, 31);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card {
  max-width: 100%;
  height: 2548px;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.title-card {
  padding: 1rem;
  color: #fab52b;
  font-size: 30px;
  border-bottom: 1px solid #ffffff08;
  opacity: 8%;
}

.item {
  background-color: #252526;
  height: 997px;
  width: 561px;
  margin-bottom: 124px;
  border-radius: 1%;
}

.item #card-img {
  display: block;
  height: 338px;
  width: 513px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 28px;
}

.card-title {
  color: #ffffff;
  font-size: 30px;
  font-family: roboto;
  align-items: flex-start;
  margin-left: 24px;
}

.card-autor {
  color: #ffffff;
  font-size: 22px;
  font-family: roboto;
  align-items: flex-start;
  margin-left: 24px;
}

.card-descricao {
  color: #ffffff;
  font-size: 28px;
  font-family: roboto;
  opacity: 0.8;
  align-items: flex-start;
  margin-left: 24px;
  margin-top: 50px;
}

.card-button {
  background: transparent url("../../images/Logo.svg");
  border: none;
  border-radius: 1%;
  width: 219px;
  height: 54px;
  border-radius: 1rem;
  align-items: flex-start;
  margin-left: 24px;
  margin-top: 36px;
  font-size: 28px;
  color: #000000;
  font-family: roboto;
  cursor: pointer;
}

.card-button:hover {
  opacity: 0.8;
  border: solid 1px;
}

.card-price {
  color: #fab52b;
  font-size: 28px;
  font-family: roboto bold;
  width: 96px;
  margin-left: 441px;
  margin-top: -50px;
}

.icon-message {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.card-rating {
  color: #f7a707;
  margin-top: 30px;
  margin-left: 24px;
  width: 29px;
  height: 27px;
  background: transparent url("../../images/Icon ionic-md-star.svg") 0% 0%
    no-repeat padding-box;
  cursor: pointer;
  opacity: 1;
}

.card-rating:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
}

.card-nota {
  font-family: roboto;
  font-size: 25px;
  color: #ffffff;
  margin-top: -30px;
  margin-left: 64px;
  opacity: 0.8;
}

.card-categorias {
  margin-left: 435px;
  color: #ffffff;
  font-family: roboto;
  font-size: 20px;
  margin-top: -40px;
}

.card-ponto {
  display: block;
  background: transparent url("../../images/Ellipse 1.svg") 0% 0% no-repeat
    padding-box;
  margin-left: 418px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.card-info {
  margin-bottom: 7px;
}

.card-add {
  margin-left: 440px;
  margin-top: -30px;
  cursor: pointer;
  opacity: 1;
}

.card-close {
  margin-left: 490px;
  margin-top: -37px;
  cursor: pointer;
  opacity: 1;
}

.card-informacao {
  display: block;
  margin-top: 10px;
  width: 12px;
  height: 27px;
}

.card-data {
  margin-top: 30px;
  color: #ffffff;
  opacity: 0.8;
  font-size: 20px;
  margin-left: 24px;
}

.card-comentarios {
  margin-top: -30px;
  opacity: 0.8;
  font-size: 20px;
  margin-left: 142px;
  background: transparent url("../../images/Icon material-comment.svg") 0% 0%
    no-repeat padding-box;
}

.card-idade {
  margin-top: -30px;
  margin-left: 242px;
  background: #fa251b;
  border: solid 1px white;
  border-radius: 2px 2px 2px 2px;
  width: 24px;
  height: 24px;
  opacity: 1;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

.title-card {
  display: grid;
  color: #fab52b;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  opacity: 1;
  margin-top: 140px;
  margin-bottom: 40px;
}
